<div class="container">

  <div class="row">
    <div class="col">

      <div class="jumbotron">
        <h1>GitHub repositories search</h1>
        <p>This is a sample app to demonstrate v3 GitHub api for searching repositories</p>
        <small>By Royee Shemesh</small>
        <hr/>

        <!--no item selected-->
        <ng-container *ngIf="!item">
          <app-search (selectItem)="onSelectItem($event)"></app-search>
        </ng-container>

        <!--an item was selected-->
        <ng-container *ngIf="item">
          <button class="btn btn-primary" (click)="onResetItem()">Reset</button>
          <app-result [item]="item"></app-result>
        </ng-container>

      </div>

    </div>
  </div>
</div>

